<div class="footer">
    <p>Ski Bumz &copy</p>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<% if(my_title == 'Resorts Map' || my_title == 'Stat Tracker'){ %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<% } %>
<% if(my_title == 'Resort Conditions'){ %>
    <!-- jQuery -->
    <script crossorigin="anonymous"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <!-- API Keys -->
    <script src="assets/javascript/keys.js"></script>
    <!-- ski resorts object -->
    <script src="assets/javascript/skiResorts.js"></script>
    <!-- weatherCodes object -->
    <script src="assets/javascript/weatherCodes.js"></script>
    <!-- keys object -->
    <script src="assets/javascript/keys.js"></script>
    <!-- Weather api script -->
    <script src="assets/javascript/weather.js"></script>
    <!-- Functions to act on the text of the page. -->
    <script src="assets/javascript/textFunctions.js"></script>
    <!-- Main app.js -->
    <script src="assets/javascript/app.js"></script>
<% } %>
<% if(my_title == 'Stat Tracker'){ %>
    <script src="statTrackerTableGenerator.js"></script>
<% } %>
<% if(my_title == 'Backcountry Conditions Test'){ %>
    <!-- jQuery -->
    <script crossorigin="anonymous"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <!-- Backcountry js -->
    <script src="assets/javascript/BackcountryTest.js"></script>
<% } %>
</body>
</html>