<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/resorts">Conditions</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/map">Resorts</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/stats">Stat Tracker</a>
          </li>
      </ul>
      <ul class="navbar-nav justify-content-end ml-auto">
          <li class="nav-item">
              <a class="nav-link" href="/register">Sign up</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Login</a>
          </li>
      </ul>
  </div>
</nav>