<%- include('../partials/header') %>
<%- include('../partials/nav') %>



<!-- API Source: http://www.onthesnow.com/widget -->
<div class="container-fluid">
    <ul class="nav nav-pills nav-justified">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/resorts">Resort Conditions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/backcountryTest">Backcountry Conditions</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">

        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="">Longitude and Latitude</span>
            </div>
            <input type="number" placeholder="Longitude" id="longitude" class="form-control">
            <input type="number" placeholder="Latitude" id="latitude" class="form-control">
            <div class="input-group-append">
                <input type="submit" id="locSubmit"></input>
            </div>
        </div>

        <p id="lonText"></p>
        <p id="latText"></p>

        <div class="table-responsive">
            <table class="table" id="backcountry-weather-table">
                <thead>
                <tr>
                    <th>Condition:</th>
                    <th>Value:</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Description</td>
                    <td><p class="card-text" id="description">THUNDERSTORM WITH HEAVY DRIZZLE</p></td>
                </tr>
                <tr>
                    <td>Temp</td>
                    <td><div id="degree-card"><span id='degrees'>NULL</span><span
                                    id='symbol'>&#176</span>
                            <span id='degree-unit'>F</span></div></td>
                </tr>
                <tr>
                    <td>Feels Like</td>
                    <td><div id="feels-like-card"><span id='feels-like'>NULL</span><span
                                    id='feels-like-symbol'>&#176</span>
                            <span id='feels-like-degree-unit'>F</span></div></td>
                </tr>
                <tr>
                    <td>Pressure</td>
                    <td><p class="card-text" id="pressure">NULL</p></td>
                </tr>
                <tr>
                    <td>Humidity</td>
                    <td><p class="card-text" id="humidity">NULL</p></td>
                </tr>
                <tr>
                    <td>Dew Point</td>
                    <td><p class="card-text" id="dew-point">NULL</p></td>
                </tr>
                <tr>
                    <td>UV Index</td>
                    <td><p class="card-text" id="uv-index">NULL</p></td>
                </tr>
                <tr>
                    <td>Visibility</td>
                    <td><p class="card-text" id="visibility">NULL</p></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="table-responsive">
            <table class="table" id="wind-table">
                <thead>
                <tr>
                    <th>Condition:</th>
                    <th>Value:</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Wind Speed</td>
                    <td><p class="card-text" id="wind-speed">NULL</p></td>
                </tr>
                <tr>
                    <td>Wind Gusts</td>
                    <td><p class="card-text" id="wind-gusts">NULL</p></td>
                </tr>
                <tr>
                    <td>Wind Direction</td>
                    <td><p class="card-text" id="wind-direction">NULL</p></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-8" style="height:300px">
            <div class="map">
                <iframe allowfullscreen frameborder="0" height="460" id="map" src="" style="border:0"
                        width="100%">
                </iframe>
            </div>
        </div>




<!--        <div class="container">-->
<!--            &lt;!&ndash; BEGIN Powder Project Map&ndash;&gt;-->
<!--            &lt;!&ndash; https://www.powderproject.com/widget?action=configure&ndash;&gt;-->
<!--            <iframe style="width:100%; max-width:1200px; height:500px;" frameborder="0" scrolling="yes" src="https://www.powderproject.com/widget/map?favs=1&location=fixed&x=-11714883&y=4865172&z=6.5&h=500"></iframe>-->
<!--            &lt;!&ndash; END Powder Project &ndash;&gt;-->
<!--            &lt;!&ndash; BEGIN Powder Project Snow Reports&ndash;&gt;-->
<!--            <iframe style="width:100%; max-width:1200px; height:400px;" frameborder="0" scrolling="yes" src="https://www.powderproject.com/widget/conditions?v=3&x=-11784398&y=4813825&z=5&height=400"></iframe>-->
<!--            &lt;!&ndash; END Powder Project &ndash;&gt;-->
<!--            <div>-->
<!--                <iframe name="caic_fx_map" id="caic_fx_map"-->
<!--                        src="https://avalanche.state.co.us/caic/fx_map.php"-->
<!--                        width="495px" height="565px"-->
<!--                        scrolling="no" marginwidth="0"-->
<!--                        marginheight="0" frameborder="0"-->
<!--                        vspace="0" hspace="0">-->
<!--                    <p>Your browser does not support iframes.</p>-->
<!--                </iframe>-->
<!--                <img src="https://avalanche.state.co.us/caic/images/map-danger-scale.png">-->
<!--            </div>-->
<!--        </div>-->
    </div>

</div>
<br>
<br>
<%- include('../partials/footer') %>
