<%- include('../partials/header') %>
<%- include('../partials/nav') %>

<nav class="navbar navbar-expand bg-dark" id="resortNav">
    <div class="collapse navbar-collapse" id="resortNavCollapse">
        <ul class="navbar-nav">
            <li class="nav-item ml-2">
                <div class="dropdown">
                    <button class="btn btn-dark btn-lg dropdown-toggle" data-toggle="dropdown" type="button">
                        Pick a Resort
                    </button>
                    <ul class="dropdown-menu scrollable-menu bg-dark resorts" id="nav-resorts" role="menu">
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>


<ul class="nav nav-pills nav-justified mb-3">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/resorts">Resort Conditions</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/backcountryTest">Backcountry Conditions</a>
    </li>
</ul>

<div class="row">
    <div class="col-md-4">
        <div>
            <div class="table-responsive">
                <table class="table" id="weatherTable">
                    <thead>
                    <tr>
                        <th>Condition:</th>
                        <th>Value:</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Description</td>
                        <td><p class="card-text" id="description">THUNDERSTORM WITH HEAVY DRIZZLE</p></td>
                    </tr>
                    <tr>
                        <td>Temp</td>
                        <td><div id="degree-card"><span id='degrees'>NULL</span><span
                                id='symbol'>&#176</span>
                            <span id='degree-unit'>F</span></div></td>
                    </tr>
                    <tr>
                        <td>Feels Like</td>
                        <td><div id="feels-like-card"><span id='feels-like'>NULL</span><span
                                id='feels-like-symbol'>&#176</span>
                            <span id='feels-like-degree-unit'>F</span></div></td>
                    </tr>
                    <tr>
                        <td>Wind Speed</td>
                        <td><p class="card-text" id="wind-speed">NULL</p></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <div class="table-responsive">
                <table class="table" id="snowTable">
                    <thead>
                    <tr>
                        <th>Snowfall:</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>24 hours</td>
                        <td><p class="card-text" id="24-hour-snowfall">Snowfall</p></td>
                    </tr>
                    <tr>
                        <td>48 hours</td>
                        <td><p class="card-text" id="48-hour-snowfall">Snowfall</p></td>
                    </tr>
                    <tr>
                        <td>72 hours</td>
                        <td><p class="card-text" id="72-hour-snowfall">Snowfall</p></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-8" style="height:300px">
        <div class="map">
            <iframe allowfullscreen frameborder="0" height="460" id="map" src="" style="border:0"
                    width="100%">
            </iframe>
        </div>
    </div>
</div>
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Condition:</th>
                        <th>+ 1 Day</th>
                        <th>+ 2 Days</th>
                        <th>+ 3 Days</th>
                        <th>+ 4 Days</th>
                        <th>+ 5 Days</th>
                        <th>+ 6 Days</th>
                        <th>+ 7 Days</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr></tr>
                    <tr>
                        <td>Max Temp</td>
                        <td>
                            <div id="1-max-degree-card"><span id='1-max-degrees'>NULL</span><span
                                    id='1-max-symbol'>&#176</span>
                                <span id='1-max-degree-unit'>F</span></div></td>
                        <td><div id="2-max-degree-card"><span id='2-max-degrees'>NULL</span><span
                                id='2-max-symbol'>&#176</span>
                            <span id='2-max-degree-unit'>F</span></div></td>
                        <td><div id="3-max-degree-card"><span id='3-max-degrees'>NULL</span><span
                                id='3-max-symbol'>&#176</span>
                            <span id='3-max-degree-unit'>F</span></div></td>
                        <td><div id="4-max-degree-card"><span id='4-max-degrees'>NULL</span><span
                                id='4-max-symbol'>&#176</span>
                            <span id='4-max-degree-unit'>F</span></div></td>
                        <td><div id="5-max-degree-card"><span id='5-max-degrees'>NULL</span><span
                                id='5-max-symbol'>&#176</span>
                            <span id='5-max-degree-unit'>F</span></div></td>
                        <td><div id="6-max-degree-card"><span id='6-max-degrees'>NULL</span><span
                                id='6-max-symbol'>&#176</span>
                            <span id='6-max-degree-unit'>F</span></div></td>
                        <td><div id="7-max-degree-card"><span id='7-max-degrees'>NULL</span><span
                                id='7-max-symbol'>&#176</span>
                            <span id='7-max-degree-unit'>F</span></div></td>
                    </tr>
                    <tr>
                        <td>Max Temp</td>
                        <td>
                            <div id="1-minmin-degree-card"><span id='1-minmin-degrees'>NULL</span><span
                                    id='1-min-symbol'>&#176</span>
                                <span id='1-min-degree-unit'>F</span></div></td>
                        <td><div id="2-min-degree-card"><span id='2-min-degrees'>NULL</span><span
                                id='2-min-symbol'>&#176</span>
                            <span id='2-min-degree-unit'>F</span></div></td>
                        <td><div id="3-min-degree-card"><span id='3-min-degrees'>NULL</span><span
                                id='3-min-symbol'>&#176</span>
                            <span id='3-min-degree-unit'>F</span></div></td>
                        <td><div id="4-min-degree-card"><span id='4-min-degrees'>NULL</span><span
                                id='4-min-symbol'>&#176</span>
                            <span id='4-min-degree-unit'>F</span></div></td>
                        <td><div id="5-min-degree-card"><span id='5-min-degrees'>NULL</span><span
                                id='5-min-symbol'>&#176</span>
                            <span id='5-min-degree-unit'>F</span></div></td>
                        <td><div id="6-min-degree-card"><span id='6-min-degrees'>NULL</span><span
                                id='6-min-symbol'>&#176</span>
                            <span id='6-min-degree-unit'>F</span></div></td>
                        <td><div id="7-min-degree-card"><span id='7-min-degrees'>NULL</span><span
                                id='7-min-symbol'>&#176</span>
                            <span id='7-min-degree-unit'>F</span></div></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<br>
<br>
<%- include('../partials/footer') %>