<!DOCTYPE html>
<html>
<head>
    <title>Ski Bumz Weather</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="assets/css/weatherPageFormating.css" rel="stylesheet">

    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <script crossorigin="anonymous" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>

<%- include('../partials/nav') %>

<ul class="nav nav-pills nav-justified">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="resortConditionsPage.html">Resort Conditions</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="backcountryConditionsPage.html">Backcountry Conditions</a>
    </li>
</ul>

<div class="row">
    <div class="col-md-4">
        <div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Condition:</th>
                        <th>Value:</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Description</td>
                        <td><p class="card-text" id="description">THUNDERSTORM WITH HEAVY DRIZZLE</p></td>
                    </tr>
                    <tr>
                        <td>Temp</td>
                        <td><div id="degree-card"><span id='degrees'>NULL</span><span
                                id='symbol'>&#176</span>
                            <span id='degree-unit'>F</span></div></td>
                    </tr>
                    <tr>
                        <td>Feels Like</td>
                        <td><div id="feels-like-card"><span id='feels-like'>NULL</span><span
                                id='feels-like-symbol'>&#176</span>
                            <span id='feels-like-degree-unit'>F</span></div></td>
                    </tr>
                    <tr>
                        <td>Wind Speed</td>
                        <td><p class="card-text" id="wind-speed">NULL</p></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Snowfall:</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>24 hours</td>
                        <td><p class="card-text" id="24-hour-snowfall">Snowfall</p></td>
                    </tr>
                    <tr>
                        <td>48 hours</td>
                        <td><p class="card-text" id="48-hour-snowfall">Snowfall</p></td>
                    </tr>
                    <tr>
                        <td>72 hours</td>
                        <td><p class="card-text" id="72-hour-snowfall">Snowfall</p></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-8" style="height:300px">
        <div class="map">
            <iframe allowfullscreen frameborder="0" height="460" id="map" src="" style="border:0"
                    width="100%">
            </iframe>
        </div>
    </div>
</div>
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Condition:</th>
                        <th>+ 1 Day</th>
                        <th>+ 2 Days</th>
                        <th>+ 3 Days</th>
                        <th>+ 4 Days</th>
                        <th>+ 5 Days</th>
                        <th>+ 6 Days</th>
                        <th>+ 7 Days</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr></tr>
                    <tr>
                        <td>Max Temp</td>
                        <td>
                            <div id="1-max-degree-card"><span id='1-max-degrees'>NULL</span><span
                                    id='1-max-symbol'>&#176</span>
                                <span id='1-max-degree-unit'>F</span></div></td>
                        <td><div id="2-max-degree-card"><span id='2-max-degrees'>NULL</span><span
                                id='2-max-symbol'>&#176</span>
                            <span id='2-max-degree-unit'>F</span></div></td>
                        <td><div id="3-max-degree-card"><span id='3-max-degrees'>NULL</span><span
                                id='3-max-symbol'>&#176</span>
                            <span id='3-max-degree-unit'>F</span></div></td>
                        <td><div id="4-max-degree-card"><span id='4-max-degrees'>NULL</span><span
                                id='4-max-symbol'>&#176</span>
                            <span id='4-max-degree-unit'>F</span></div></td>
                        <td><div id="5-max-degree-card"><span id='5-max-degrees'>NULL</span><span
                                id='5-max-symbol'>&#176</span>
                            <span id='5-max-degree-unit'>F</span></div></td>
                        <td><div id="6-max-degree-card"><span id='6-max-degrees'>NULL</span><span
                                id='6-max-symbol'>&#176</span>
                            <span id='6-max-degree-unit'>F</span></div></td>
                        <td><div id="7-max-degree-card"><span id='7-max-degrees'>NULL</span><span
                                id='7-max-symbol'>&#176</span>
                            <span id='7-max-degree-unit'>F</span></div></td>
                    </tr>
                    <tr>
                        <td>Max Temp</td>
                        <td>
                            <div id="1-minmin-degree-card"><span id='1-minmin-degrees'>NULL</span><span
                                    id='1-min-symbol'>&#176</span>
                                <span id='1-min-degree-unit'>F</span></div></td>
                        <td><div id="2-min-degree-card"><span id='2-min-degrees'>NULL</span><span
                                id='2-min-symbol'>&#176</span>
                            <span id='2-min-degree-unit'>F</span></div></td>
                        <td><div id="3-min-degree-card"><span id='3-min-degrees'>NULL</span><span
                                id='3-min-symbol'>&#176</span>
                            <span id='3-min-degree-unit'>F</span></div></td>
                        <td><div id="4-min-degree-card"><span id='4-min-degrees'>NULL</span><span
                                id='4-min-symbol'>&#176</span>
                            <span id='4-min-degree-unit'>F</span></div></td>
                        <td><div id="5-min-degree-card"><span id='5-min-degrees'>NULL</span><span
                                id='5-min-symbol'>&#176</span>
                            <span id='5-min-degree-unit'>F</span></div></td>
                        <td><div id="6-min-degree-card"><span id='6-min-degrees'>NULL</span><span
                                id='6-min-symbol'>&#176</span>
                            <span id='6-min-degree-unit'>F</span></div></td>
                        <td><div id="7-min-degree-card"><span id='7-min-degrees'>NULL</span><span
                                id='7-min-symbol'>&#176</span>
                            <span id='7-min-degree-unit'>F</span></div></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<br>
<br>
<div class="footer">
    <p>Ski Bumz &copy</p>
</div>
<!-- jQuery -->
<script crossorigin="anonymous"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" src="https://code.jquery.com/jquery-3.4.1.js"></script>
<!-- API Keys -->
<script src="assets/javascript/keys.js"></script>
<!-- ski resorts object -->
<script src="assets/javascript/skiResorts.js"></script>
<!-- weatherCodes object -->
<script src="assets/javascript/weatherCodes.js"></script>
<!-- Weather api script -->
<script src="assets/javascript/weather.js"></script>
<!-- Functions to act on the text of the page. -->
<script src="assets/javascript/textFunctions.js"></script>
<!-- Main app.js -->
<script src="assets/javascript/app.js"></script>
</body>
</html>